.App {
  height: 100%;
  display: grid;
  justify-items: center;
}
.rv-title {
  width: 50%;
  height: 70%;
  text-align: center;
  display: grid;
  align-self: end;
  background-color: #FDFFFC;
  -webkit-box-shadow: -2px -20px 78px -29px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -20px 78px -29px rgba(0,0,0,0.75);
  box-shadow: -2px -20px 78px -29px rgba(0,0,0,0.75);
}
.rv-title h1 {
  align-self: center;
  justify-self: center;
}
